<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/resq_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/resq_splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hospitalbulance"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity
            android:name=".HomeScreenRecordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:exported="true" />

        <activity
            android:name=".SignupActivity"
            android:exported="true" />

        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <activity
            android:name=".HomeScreenHomeActivity"
            android:exported="true" />
    </application>

</manifest>
